extends ../layouts/main

block content
  h2.heading-secondary.u-center-text Forgot password
  div.book__form
    form.form(action="/forgotPassword" method="POST")
      div.form__group
        input.form__input(type='email', placeholder="Enter your email to reset your password", name='email', required, autocomplete="off")
        label.form__label(for="email") Enter your email to reset your password
      div.form__group
        button.btn.btn--red(type='submit') Send Reset Link &rarr;
      div
        a.btn-text(href="/login") Login
    if message
      p= message
