extends ../layouts/main

block content
  h2.heading-secondary.u-center-text Reset password
  div.book__form
    form.form(action="/resetPassword/${token}" method="POST")
      div.form__group
        input.form__input(type='password', placeholder="Password", name='password', required)
        label.form__label(for='password') Password
      div.form__group
        input.form__input(type='password', placeholder="Password", name='password', required)
        label.form__label(for='confirmPassword') Confirm Password
      div.form__group
        button.btn.btn--red(type='submit') Reset Password &rarr;
    if message
      p= message
