.section-form {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $col-primary-light,
    $col-primary-dark
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($col-white, 0.9) 50%,
      transparent 50%
    ),
    url(../image/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($col-black, 0.2);

  &__form {
    width: 50%;
    padding: 3rem 6rem 6rem 6rem;
  }
}
